* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import './component/header';
@import './component/main';

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background-color: #0C0B08;
}

.lines {
    background-image: url(img/lines.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 33px;
}