.header {
    &_top {
        width: 100%;
        max-width: 1680px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 0;

        &--title {
            font-family: Cormorant Upright;
            font-weight: 700;
            font-size: 44px;
            line-height: 130%;
            letter-spacing: 4%;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        &--container {
            width: 100%;
            max-width: 1034px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &--nav {
                width: 100%;
                max-width: 409px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &--link {
                    font-family: Open Sans;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 175%;
                    letter-spacing: 4%;
                    text-decoration: none;
                    color: #FFFFFF;
                    transition: color 0.3s;

                    &:hover {
                        color: #DCCA87;
                    }
                }
            }

            &--box {
                width: 100%;
                max-width: 364px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &--registration {
                    font-family: Open Sans;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 175%;
                    letter-spacing: 5%;
                    text-transform: capitalize;
                    color: #FFFFFF;
                    text-decoration: none;
                    transition: color 0.3s;    

                    &:hover {
                        color: #DCCA87;
                    }                
                }

                &--book {
                    font-family: Open Sans;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 175%;
                    letter-spacing: 5%;
                    text-transform: capitalize;
                    color: #FFFFFF;
                    text-decoration: none;
                    transition: color 0.3s;

                    &:hover {
                        color: #DCCA87;
                    }
                }
            }
        }
    }

    &_menu {
        width: 100%;
        max-width: 1680px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 48px;
        margin-bottom: 147px;
        position: relative;

        &--container {
            width: 100%;
            max-width: 1300px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 64px;

            &--content {
                width: 100%;
                max-width: 473px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                &--subtitle {
                    font-family: Cormorant Upright;
                    font-weight: 700;
                    font-size: 23px;
                    line-height: 130%;
                    letter-spacing: 4%;
                    text-transform: capitalize;
                    color: #FFFFFF;
                    margin-bottom: 8px;
                }

                &--title {
                    font-family: Cormorant Upright;
                    font-weight: 700;
                    font-size: 90px;
                    line-height: 130%;
                    letter-spacing: 4%;
                    text-transform: capitalize;
                    color: #DCCA87;
                    margin-top: 8px;
                    margin-bottom: 32px;
                }

                &--text {
                    font-family: Open Sans;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 175%;
                    letter-spacing: 4%;
                    color: #AAAAAA;
                    margin-bottom: 32px;
                }

                &--button {
                    width: 157px;
                    height: 44px;
                    font-family: Cormorant Upright;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 175%;
                    letter-spacing: 4%;
                    color: #0C0B08;
                    background-color: #DCCA87;
                    border: none;
                }   
            }
        }

        &--numbers {
            font-family: Cormorant Upright;
            font-weight: 600;
            font-size: 16px;
            line-height: 175%;
            letter-spacing: 4%;
            text-transform: capitalize;
            color: #F5EFDB;
            margin: 0 auto;

            &--span {
                color: #DCCA87;
            }
        }

        &--box {
            position: absolute;
            display: flex;
            gap: 40px;
            transform: rotate(270deg);
            left: -85px;
            top: 370px;

            &--hashtag {
                font-family: Open Sans;
                font-weight: 400;
                font-size: 18px;
                line-height: 175%;
                letter-spacing: 4%;
                color: #FFFFFF;
            }
        }

        &--scroll {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
            position: absolute;
            right: 0;
            bottom: 0;

            &--button {
                font-family: Cormorant Upright;
                font-weight: 700;
                font-size: 16px;
                line-height: 175%;
                letter-spacing: 4%;
                text-transform: uppercase;
                color: #DCCA87;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }
        }
    }
}